PORT=5101
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
MONGODB_DB_NAME=smartplant
BATCH_COLLECTION_NAME=readings
ROUND_COLLECTION_NAME=roundreadings
ESP32_DEVICE_ID=ESP32-XXXXXXXXXXXX
DEVICE_BASE_URL=http://10.172.123.223/api
