PORT=5101
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>/smartplant?retryWrites=true&w=majority&appName=Cluster0"
MONGODB_DB_NAME=smartplant_isolated
BATCH_COLLECTION_NAME=readings_isolated
ROUND_COLLECTION_NAME=rounds_isolated
ESP32_DEVICE_ID="ESP32-XXXXXXXXXXXX"
DEVICE_BASE_URL=http://10.172.123.223/api
